<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <link href="https://unpkg.com/ant-design-vue@1.7.2/dist/antd.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/ant-design-vue@1.7.2/dist/antd.js"></script>
</head>
<body>
    <div id="app">
        <h1>A simple TX explorer <a href="https://github.com/xinbenlv/tx-exploration" target="_blank">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" width="50" height="50">
        </a></h1>
        <p>API Key = {{apiKey}}</p>
        <label for="address">Address of Interaction</label>
        <a-input v-model="address" placeholder="Address of Interaction"></a-input>
        <a-button type="primary" @click="fetchTransactions">Fetch Transactions</a-button>
        <br/>
        <!-- label for gasPrice -->
        <label for="gasPrice">Gas Price (gwei)</label>
        <a-input-number v-model="gasPrice" step="1" @change="updatePrice"></a-input-number>
        <br/>
        <label for="ethereumPriceInUsed">Eth Price (USD)</label>
        <a-input-number v-model="ethereumPriceInUsed" step="1" @change="updatePrice"></a-input-number>
        <br/>
        <p>Total Gas Used = {{totalGasUsed}}</p>
        <p>Total Gas Used In Ether = {{totalGasUsedInEther}} ether</p>
        <p>Total Gas Used In Usd = {{totalGasUsedInUsd}} usd</p>

        <p v-if="transactions.length === 0">No transactions found.</p>
        <p v-else>{{transactions.length}} tx found.</p>
        <h1>Data</h1>
        <a-table 
            :columns="columns"
            :data-source="transactions"
            :row-key="record => record.hash"
            :pagination="{
                total: transactions.length,
                showSizeChanger: true,
                pageSizeOptions: ['10', '25', '30', '50', '100', '500'],
                onShowSizeChange: onShowSizeChange,
                pageSize: pageSize,
                showTotal: (total, range) => `${range[0]}-${range[1]} of ${total} items`,
                
            }"
            bordered>
                <a slot="tx" slot-scope="text, record" :href="'https://sepolia.etherscan.io/tx/' + record.hash" target="_blank">{{text.slice(0,6)}}...</a>
        </a-table>
        <!-- table summary -->
        
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                transactions: [],
                apiKey: 'no key',
                address: 'no key',
                gasPrice: 17.0,
                ethereumPriceInUsed: 2400.0,
                totalGasUsed: 0,
                totalGasUsedInEther: 0,
                totalGasUsedInUsd: 0,
                pageSize: 25,
                columns: [
                    {
                        title: 'Hash',
                        dataIndex: 'hash',
                        key: 'hash',
                        sorter: (a, b) => a.hash - b.hash,
                        slots: { title: 'tx' },
                        scopedSlots: { customRender: 'tx' },
                    },
                    {
                        title: 'Gas Used',
                        dataIndex: 'gasUsed',
                        key: 'gasused',
                        sorter: (a, b) => a.gasUsed - b.gasUsed,
                    },
                    {
                        title: 'est. Gas Fee in Eth',
                        dataIndex: 'gasFeeEth',
                        key: 'gasFeeEth',
                        sorter: (a, b) => a.gasFeeEth - b.gasFeeEth,
                    },
                    {
                        title: 'est. Gas Fee in Usd',
                        dataIndex: 'gasFeeUsd',
                        key: 'gasFeeUsd',
                        sorter: (a, b) => a.gasFeeUsd - b.gasFeeUsd,
                    },
                ]
            },
            async created() {
                const urlParams = new URLSearchParams(window.location.search);
                this.apiKey = urlParams.get('apiKey');
                this.address = urlParams.get('address');
                await this.fetchTransactions();
            },
            
            methods: {
                onShowSizeChange(current, pageSize) {
                    console.log(current, pageSize);
                },
                updatePrice() {
                    this.updateTransactions();
                    this.calculateTotalGasCosts();
                },
                calculateTotalGasCosts() {
                    this.totalGasUsed = 0;
                    this.transactions.forEach(tx => {
                        this.totalGasUsed += parseInt(tx.gasUsed);
                    });
                     console.log(`totalGasUsed`, this.totalGasUsed);
                     this.totalGasUsedInEther = this.totalGasUsed * parseInt(this.gasPrice) / 1000000000;
                     console.log(`totalGasUsedInEther`, this.totalGasUsedInEther, "ether");
                     this.totalGasUsedInUsd = this.totalGasUsedInEther * parseInt(this.ethereumPriceInUsed);
                     console.log(`totalGasUsedInUsd`, this.totalGasUsedInUsd, "usd");
  
                },
                updateTransactions() {
                    this.transactions = this.transactions.map(tx => ({
                            ...tx,
                            key: tx.hash,
                            gasFeeEth: parseInt(tx.gasUsed) * this.gasPrice / 1000000000,
                            gasFeeUsd: parseInt(tx.gasUsed) * this.gasPrice / 1000000000 * this.ethereumPriceInUsed,
               
                        }))
                    ;
                    console.log(`this.transactions`, this.transactions);
                },
                async fetchTransactions() {
                    console.log(`this.apiKey`, this.apiKey);
                    console.log(`this.address`, this.address);
                    const url = `https://api-sepolia.etherscan.io/api?module=account&action=txlist&address=${this.address}&startblock=0&endblock=99999999&sort=asc&apikey=${this.apiKey}`;
                    const response = await fetch(url);
                    const data = await response.json();
                    this.transactions = data.result;
                    this.updatePrice();
                },
            },
        });
    </script>
</body>
</html>